/* Apply background and font globally */
.app {
  width: 50%;
  margin: 35px auto;
  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 12px;
}

.logo {
  color: #ff6b35; /* teal color from logo */
  font-weight: 900;
  font-size: 22px;
}

header {
  margin: 20px 0px 20px;
  display: flex;
  justify-content: space-between;
}

/* Heading */
header > h2 {
  font-size: 28px;
  color: #2c3e50;
}

/* Create Student link */
.createBtn {
  padding: 10px 20px;
  background: #ff3576;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.3s;
}

.createBtn:hover {
  background: #ffb3d1;
}

/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

/* Table header style */
th {
  padding: 10px;
  background-color: #ff4f81; /* Darker pink */
  color: white;
}

/* Table data cells */
td {
  padding: 10px;
  background-color: #fff0f5; /* Very light pink */
}

tr:hover {
  background: #f0f8ff;
}

/* Buttons inside table */
table #deleteBtn {
  background: #ff3576; /* Pink button */
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 6px 14px;
  margin-right: 6px;
  font-size: 0.95rem;
  cursor: pointer;
}

table #deleteBtn:hover {
  background: #ffb3d1; /* Light pink */
  color: #ff3576;
}

/* Special style for edit button */
table #editBtn {
  background: #ffb3d1; /* Light pink */
  color: #ff3576; /* Dark pink text */
  border: none;
  border-radius: 6px;
  padding: 5px 14px;
  margin-right: 20px;
  font-size: 0.95rem;
  cursor: pointer;
  text-decoration: none;
}

table #editBtn:hover {
  background: #ff3576; /* Light pink */
  color: white;
}

/* Form container */

form {
  margin: auto;
  /* max-width: 50%; */
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  /* border: 1px solid #ddd; */
  text-align: center;
}

form h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
  color: #222;
}

.form-container input:focus {
  border-color: #4cafef;
  outline: none;
}

.form-container button {
  margin: 8px;
  padding: 10px 16px;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

button[type="submit"] {
  background: #ff3576; /* Pink button */
  color: #fff;
}

button[type="submit"]:hover {
  background: #ffb3d1; /* Pink button */
  color: #ff3576;
}

button[type="button"] {
  background: #ffb3d1; /* Light pink */
  color: #ff3576; /* Dark pink text */
}

button[type="button"]:hover {
  background: #ff3576; /* Light pink */
  color: #fff;
}

@media screen and (max-width: 700px) {
  .app {
    width: 90%;
  }
}
